#conversionDiagramWrapper{
	margin: 1em;
}


#conversionDiagramWrapper svg text{
	fill: #555;
    stroke: none;
    stroke-width: 0;
}

#conversionDiagramWrapper svg .monthListContainer .DateBox{
	fill: none;
	stroke: #000;
	stroke-width: 1px;
}

#conversionDiagramWrapper svg .monthListContainer .DateBox,
#conversionDiagramWrapper svg .monthListContainer text{
	cursor: pointer;
}

#conversionDiagramWrapper svg .monthListContainer .DateGroup:hover .DateBox,
#conversionDiagramWrapper svg .monthListContainer .DateBox.Selected{
	fill: #eee;
}

#conversionDiagramWrapper svg .monthListContainer .DateAnchorLine.Selected,
#conversionDiagramWrapper svg .monthListContainer .DateBox.Selected{
	transition: stroke-width 0.25s;
	stroke-width: 2px;
}

#conversionDiagramWrapper svg .diagramContainer{
	fill: none;
	stroke: none;
}

#conversionDiagramWrapper svg .ScopeLine{
	fill: none;
	stroke: #000;
	stroke-width: 2px;
}


#conversionDiagramWrapper svg .ColumnLabel{
	font-size: 1.2em;
	font-weight: 700;
}

#conversionDiagramWrapper svg g.DatumGroup rect.Count:first-of-type{ 
	fill: rgba(0,184,227,0.1);
	stroke: rgba(0,184,227,1);
}


#conversionDiagramWrapper svg g.DatumGroup rect.Count:nth-of-type(2){
	fill: rgba(0,184,227,0.4);
	stroke: rgba(0,184,227,1);
}

#conversionDiagramWrapper svg g.DatumGroup rect.Count:nth-of-type(3){
	fill: rgba(0,184,227,0.7);
	stroke: rgba(0,184,227,1);
}

#conversionDiagramWrapper svg g.DatumGroup path.ConversionPath{
	stroke: rgba(0,184,227,1);
	stroke-width: 1px;
}

#conversionDiagramWrapper svg g.DatumGroup path.ConversionPath:nth-of-type(1){
	fill: rgba(0,184,227,0.25);

}


#conversionDiagramWrapper svg g.DatumGroup path.ConversionPath:nth-of-type(2){
	fill: rgba(0,184,227,0.55);
}

/* ******************* */


#conversionDiagramWrapper svg g.DatumGroup:hover rect.Count:first-of-type{ 
	fill: rgba(0,184,227,0.3);
	stroke: rgba(0,184,227,1);
}


#conversionDiagramWrapper svg g.DatumGroup:hover rect.Count:nth-of-type(2){
	fill: rgba(0,184,227,0.6);
	stroke: rgba(0,184,227,1);
}

#conversionDiagramWrapper svg g.DatumGroup:hover rect.Count:nth-of-type(3){
	fill: rgba(0,184,227,0.9);
	stroke: rgba(0,184,227,1);
}

#conversionDiagramWrapper svg g.DatumGroup:hover path.ConversionPath{
	stroke: rgba(0,184,227,1);
	stroke-width: 1px;
}

#conversionDiagramWrapper svg g.DatumGroup:hover path.ConversionPath:nth-of-type(1){
	fill: rgba(0,184,227,0.45);

}


#conversionDiagramWrapper svg g.DatumGroup:hover path.ConversionPath:nth-of-type(2){
	fill: rgba(0,184,227,0.75);
}